html {
    font-family: "Inconsolata", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.content {
    max-width: 45rem;
    margin-left: 20rem;
    margin-right: 2rem;
}

@media (max-width: 1000px) {
    html {
	font-size: 22px;
    }
    
    .container {
	padding:0;
	margin:0;
    }
}